body{
    margin:0;
    color:black;
    background-color:white;
    font-family: 'Open Sans', sans-serif;
}
#navbar{
    z-index: 5;
    position: fixed;
    top:0;
    background-color: white;
    color: rgb(22, 22, 22);
    font-size:15px;
    width:100%;
    height:auto;
    padding:10px;
    margin:auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#navbar-l{
    width:20%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}
#navbar-l i{
    margin-right: 10px;
    color: rgb(32, 32, 32);
}
#navbar-r{
    width:60%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}
#navbar-r>div:nth-child(2)>input{
    width:300px;
    border:0;
    border-bottom: 1px solid black;
}
#navbar-r img{
    width: 250px;
    cursor: pointer;
}
#navbar-2{
    color: rgb(32, 32, 32);
    font-size:15px;
    font-weight:600;
    width:90%;
    height:auto;
    padding:10px;
    margin-top:65px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: baseline;
    
}
#navbar-2 a{
    text-decoration: none;
    color: rgb(32, 32, 32);
}
#navbar-2 a{
    padding:12px 24px;
}
#navbar-2 a:hover{
    border-bottom: 2px solid #ff5d3b;
    color:#ff5d3b;
}
#category-kids{
    width:95%;
    margin:60px 0 40px 20px;
    font-size: 32px;
    font-weight: bold;
}
#category-kids>div{
    width:100%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;

}
#category-kids img{
    width:100%;
}
#shopbyage{
    width:95%;
    margin:60px auto;
}
.head{
    font-size: 60px;
    font-weight: bold;
    margin: 60px 0;
    color:rgb(32, 32, 32);
    text-align: center;
}
#shopbyage>div{
    width:100%;
    margin: 100px auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:30px;

}
#favbrands{
    width:96%;
    margin:60px auto;
}
#favbrands>div{
    width:100%;
    margin: 100px auto;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap:0px;

}
#favbrands img{
    width:100%;
}
#offers{
    width:95%;
    margin:60px auto;
}
#offers>div:nth-child(2){
    width:100%;
    margin:100px auto;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
#bigoff{
    width:100%;
    margin:60px auto;
}
#bigoff img{
    width:100%;
    
}
.margin-bott{
    margin-bottom: 20px;
}
.margin-top{
    margin-top:40px;
}
#bigoff>div:nth-child(3) {
    width:97%;
    margin:60px auto;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
#discbrands{
    width:100%;
    margin:60px auto;
}
#discbrands>div{
    margin:20px 0;
}
.head2{
    font-size:40px;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: 500;
    margin: 40px 0;
    color:rgb(32, 32, 32);
    text-align: center;
}
#footer{
    width:100%;
    margin:20px auto;
}
#footer1{
    width:100%;
    margin:auto;
    padding:20px;
    color:rgb(22, 22, 22);
    background-color: #f5f5f5;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;

}
#footer1>div:nth-child(1) {
    width:18%;
}
#footer1>div:nth-child(1) img{
    color: #f5f5f5;
}
#footer1>div:nth-child(2) {
    width:33%;
}
#footer1>div:nth-child(3) {
    width:10%;
}
#footer1>div:nth-child(2)>div{
    width:19%;

}
#footer1 img{
    width:100%;
}
.flexb{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.footer1-p{
    text-align:center;
    color:rgb(22, 22, 22);
    font-size:13px;
}
#footer1 i,p{
    color:gray;
}
#footer2{
    width:100%;
    height:auto;
    background-color: white;
}
#footer2>div:nth-child(1){
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/******** CSS FOR SIGNIN FORM *********/
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  cursor: pointer;

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  height:100%;
  bottom: 0;
  right: 0;
  z-index: 9;
}
.form-container0 {
    width: 400px;
    height:35%;
    padding:20px 25px;
    background-color: black;
  }
  .form-container0 .unpop{
      text-decoration: underline;
      cursor: pointer;
  }
  .justleft{
      text-align: left;
  }
  .form-container0>div:nth-child(1){
      height:20%;
      text-decoration: underline;
      text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .form-container0>div:nth-child(2){
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.back-gray{
    background-color: rgb(104, 104, 104);
}
.fc0-para2{
    font-weight: bold;
    font-size: 30px;
}
.fc0-para3{
    font-size: 20px;
}
.form-container0 p{
    color:white;
}

/* Add styles to the form container */
.form-container {
  width: 400px;
  height:65%;
  padding: 20px 30px;
  background-color: white;
}

/* Full-width input fields */
.form-container input,select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-bottom: 1px solid black;
}



/* Set a style for the submit/login button */
.form-container .btn {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin:10px 0;
}
.fc-p1{
    color: black;
    font-size: 16px;
    text-align: center;
    margin:10px 0;
}
.fc-p1>span{
    font-weight: bold;
    text-decoration: underline;
}
.fc-p2{
    margin:20px 0;
    text-align: center;
}
.fc-p2 i{
    color:black;
    margin-right:10px;
}
.fc-p3{
    height:33%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.fc-p3 span{
    color:#ff5d3b;
    font-weight: bold;
}
.fc0-flex{
    width:100%;
    display: flex;
    justify-content: space-between;
}
/******** CSS FOR DROPDOWWN BUTTONS *********/

/* Style The Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      /* margin-top: 10px; */
    font-weight: 400;
    display: none;
    color:gray;

    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */

  /* CSS FOR ICON BAGDE */
  .notification {
    /* background-color: #555;
    color: white; */
    text-decoration: none;
    color: black;
    /* padding: 15px 26px; */
    /* position: relative; */
    /* display: inline-block; */
    /* border-radius: 2px; */
  }
  
  /* .notification:hover {
    background: red;
  } */
  
   .badge {
    position: relative;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
  .icon-hover:hover{
    color:#ff5d3b;
  }
  /* CSS FOR LOGIN/OUT ICON FUNCTIONALITY */
  .pointer-1{
    cursor: pointer;
    color:black;
}
.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
    /* margin-top: 10px; */
  font-weight: 400;
  display: none;
  color:gray;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.modify-drop2{
    min-width:200px;
    right:-20px;
}
.modify-drop2 a:hover{
  border-bottom: 2px solid #ff5d3b;
  color:#ff5d3b;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}
/* CSS FOR LOGIN/OUT ICON FUNCTIONALITY */