body{
    margin:0;
    color:black;
    background-color:white;
    font-family: 'Open Sans', sans-serif;
}
#navbar{
    z-index: 5;
    position: fixed;
    top:0;
    background-color: white;
    color: rgb(22, 22, 22);
    font-size:15px;
    width:100%;
    height:auto;
    padding:10px;
    margin:auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#navbar-l{
    width:20%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}
#navbar-l i{
    margin-right: 10px;
    color: rgb(32, 32, 32);
}
#navbar-r{
    width:60%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}
#navbar-r>div:nth-child(2)>input{
    width:300px;
    border:0;
    border-bottom: 1px solid black;
}
#navbar-r img{
    width: 250px;
    cursor: pointer;
}
#navbar-2{
    color: rgb(32, 32, 32);
    font-size:15px;
    font-weight:600;
    width:90%;
    height:auto;
    padding:10px;
    margin-top:65px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: baseline;
    
}
#navbar-2 a{
    text-decoration: none;
    color: rgb(32, 32, 32);
}
#navbar-2 a{
    padding:12px 24px;
}
#navbar-2 a:hover{
    border-bottom: 2px solid #ff5d3b;
    color:#ff5d3b;
}
#content{
    width:90%;
    margin:40px auto;
    background-color:white;
}
#scrollmenu {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    white-space: nowrap;
  }
  
#scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
#scrollmenu a:hover {
    background-color: #777;
  }
#catelog{
    width:90%;
    margin:40px auto;
    background-color:white;
  }
  #heading-div{
      width:100%;

  }
  #heading{
      width:60%;
      margin-left: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    align-items:center;
  }
  #heading>div:nth-child(1) {
      width:60%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:baseline;
  }
  #heading p{
      margin-left:10px;
  }

  .head{
    font-size:30px;
    font-family: 'Cormorant', serif;
    font-style: italic;
  }
  .body{
      font-size:18px;

  }
  .select{
    font-size:13px;
    padding:5px 10px;
    box-sizing: border-box;
  }
  .black{
      color:rgb(14, 14, 14);
  }
  .gray{
      color:rgb(100, 100, 100);
  }
  .width3{
      width:250px;
  }
  .width2{
      width:200px;
  }
  .bold{
      font-weight: bold;
  }
  .border0{
      border:0px;
  }
  .bordert{
    border:0px;
    border-top: 1px solid #c4c4c4;
  }
  .bordertb{
    border:0px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
  }
  #catelog1{
      width:100%;
      display:flex;
      flex-direction: row;
  }
  #catelog1-l{
      width:25%;
      background-color: white;
      height:auto;
  }
  #catelog1-l select{
      padding:10px 0;
  }
  #catelog1-r{
      width:70%;
      flex-grow: 1;
  }
  #heading2{
    margin:0;
    padding:10px;
    background-color: #818181;
    display: flex;
    justify-content: left;
  }
  #heading2 select{
      margin-right:10px;
  }
  #items{
      width:100%;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: auto;
      gap:10px;
  }
  #items img{
      width:100%;
  }
.item-card{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding:10px;
}
.item-pricediv{
    display:flex;
    align-items: baseline;
}
.item-pricediv p{
    margin-right:5px
}
  .item-brand{
      font-size: 18px;
      color:black;

  }
  .item-name{
    font-size: 15px;
    color:#777777;

}
.item-price{
    font-size: 13px;
    color:black;

}
.item-strprice{
    font-size: 14px;
    color:#777777;
}
.item-off{
    font-size: 14px;
    color:#ff6b35;
}
.item-btn{
    color:white;
    background-color:#ff6b35;
    padding:5px 10px;
    border-radius:5px;
    font-size: 14px;
    border:0px;
    margin:0 auto;
    text-align: center;
}
.item-btn:hover{
    background-color: #be4316;
}#footer{
    width:100%;
    margin:20px auto;
}
#footer1{
    width:100%;
    margin:auto;
    padding:20px;
    color:rgb(22, 22, 22);
    background-color: #f5f5f5;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;

}
#footer1>div:nth-child(1) {
    width:18%;
}
#footer1>div:nth-child(1) img{
    color: #f5f5f5;
}
#footer1>div:nth-child(2) {
    width:33%;
}
#footer1>div:nth-child(3) {
    width:10%;
}
#footer1>div:nth-child(2)>div{
    width:19%;

}
#footer1 img{
    width:100%;
}
.flexb{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.footer1-p{
    text-align:center;
    color:rgb(22, 22, 22);
    font-size:13px;
}
#footer1 i,p{
    color:gray;
}
#footer2{
    width:100%;
    height:auto;
    background-color: white;
}
#footer2>div:nth-child(1){
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
